body {
    font-family: Roboto, open-sans;
    padding-top: 50px;
}
/*
 * Base structure
 */
  
  h1 {
    margin-bottom: 20px;
    padding-bottom: 9px;
    border-bottom: 1px solid #eee;
    font-weight: 300;
  }
  
  /*
   * Sidebar
   */
  
  .sidebar {
    position: fixed;
    top: 55px;
    width: 200px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    border-right: 1px solid #eee;
  }
  
  li{
    cursor: pointer;
    color:var(--primary);
  }

  pre {padding: 5px; margin: 5px; }
  .string { color: #4e9a06; }
  .number { color: #ad7fa8; }
  .boolean { color: #c4a000; }
  .null { color: #babdb6;font-style: italic; }
  .key { color: #204a87; }